.CartPageContainer { 
  padding-left: 100px;
  padding-right: 100px;
  h2 { 
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1F22;
    margin-top: 40px;
    margin-bottom: 40px
  }

  .TotalPriceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}